body,
html {
  background-color: #050816;
}
* {
  box-sizing: border-box;
}
.background-color-custom {
  background-image: url("/herobg.png");
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image in the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Adjust this as per your need */
  display: flex;
  color: white; /* Optional: For better readability over the image */
}
.bg-dark-custom {
  background-color: #050816;
}
/* Style the pink dot and line */
.line-dot {
  position: absolute;
  left: -40px; /* Adjust as needed */
  top: 20px;
  height: 200px;
  width: 2px;
  background-color: #a83e9d; /* Pink line */
}

.line-dot::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  height: 16px;
  width: 16px;
  background-color: #a83e9d; /* Pink dot */
  border-radius: 50%;
}

/* Make "Filip" pink */
.highlight {
  color: #a83e9d;
}

.cs-height {
  height: 100%;
}
.custom-height {
  height: 100vh;
}

@media (max-width: 768px) {
  .custom-card-size {
    width: 70%; /* Reduce the width slightly for medium and smaller screens */
    margin: 0 auto; /* Center the card */
  }
}
.custom-card {
  background-color: #0b112f;
  color: white;
  border-radius: 36px;
  border: #1ea5d7 solid 3px;
  height: 300px;
}
/* Styling for horizontal lines */
.horizontal-line {
  border-top: 2px solid #ccc;
  width: 100%;
  margin: 0 auto;
}

/* Styling for vertical middle line */
.vertical-line {
  border-left: 2px solid #ccc;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

/* Work experience container styling */
.work-experience {
  padding: 20px;
  color: #fff;
  min-height: 100vh;
}

/* Make sure text and layout look good on smaller screens */
@media (max-width: 768px) {
  .work-experience .vertical-line {
    display: none;
  }
}
