body,
html {
  background-color: #050816;
}
* {
  box-sizing: border-box;
}
.background-color-custom {
  background-image: url("/herobg.png");
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image in the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Adjust this as per your need */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Optional: For better readability over the image */
}
.bg-dark-custom {
  background-color: #050816;
}
/* Style the pink dot and line */
.line-dot {
  position: absolute;
  left: -40px; /* Adjust as needed */
  top: 20px;
  height: 200px;
  width: 2px;
  background-color: #a83e9d; /* Pink line */
}

.line-dot::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  height: 16px;
  width: 16px;
  background-color: #a83e9d; /* Pink dot */
  border-radius: 50%;
}

/* Make "Filip" pink */
.highlight {
  color: #a83e9d;
}
